body{
    font-family: 'Roboto', sans-serif;
}
textarea{
    font-size: 12px;
    width: 80%;
    height: 120px;
    resize: none;
    margin: auto;
    display: block;
}

textarea#mathText{
    font-size: 18px;
    width: 80%;
    height: 100px;
}

form > input{
    height: 40px;
    width: 100px;
}

form{
    text-align: center;
}
